<!--Including header file-->
<% include partials/header %>
<% if(errors){ %>
<div class="alert alert-danger" role="alert">
    <ul>
        <% errors.forEach(function(error){ %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
</div>
<% } %>
<!--Form for Update person's details-->
<form method="post" action="/persons/update">
    <input type="hidden" name="userid" value="<%=singleuser.id%>">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="<%=singleuser.name%>">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" value="<%=singleuser.email%>">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" name="age" class="form-control" value="<%=singleuser.age%>">
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
</form>


<!--Including Footer-->
<% include partials/footer %>
